menu "Memory Configuration"

config MBASE
  hex "Memory base address"
  default 0x0        if ISA_x86
  default 0x20000000 if YSYXSOC
  default 0x80000000

config MSIZE
  hex "Memory size"
  default 0x00000fff      if YSYXSOC
  default 0x08000000

config YSYXSOC
  bool "Enable YSYXSOC"
  default n

config SBASE
  depends on YSYXSOC
  hex "YSYXSOC bas address"
  default 0x0f000000

config SSIZE
  depends on YSYXSOC
  hex "YSYXSOC size"
  default 0x00001fff

choice
  prompt "Physical memory definition"
  default PMEM_GARRAY
config PMEM_MALLOC
  bool "Using malloc()"
config PMEM_GARRAY
  depends on !TARGET_AM
  bool "Using global array"
endchoice

config MEM_RANDOM
  depends on MODE_SYSTEM && !DIFFTEST && !TARGET_AM
  bool "Initialize the memory with random values"
  default y
  help
    This may help to find undefined behaviors.

config SRAM_RANDOM
  depends on MODE_SYSTEM && !DIFFTEST && !TARGET_AM && YSYXSOC
  bool "Initialize the memory with random values"
  default y
  help
    This may help to find undefined behaviors.

config PC_RESET_OFFSET
  hex "Offset of reset vector from the base of memory"
  default 0x100000 if ISA_x86
  default 0

endmenu #MEMORY
