*.*
*
!*/
!Makefile
!CMakeLists.txt
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!*.hh
!*.py
!*.toml
!.gitignore
!.scalafmt.conf
!README.md
src/verilator/config.toml
src/verilator/include/generated/autoconfig.hh
build/

# mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
